.checklist {
    list-style-type: none;
    padding-left: 0;
}

.checklist li {
    padding-left: 20px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: left center;
    font-size: 18px;
}
.checklist li.checked {
    background-image: url('../assets/checked.png');
}
.checklist li {
    background-image: url('../assets/unchecked.png');
}
