body {
    font-family: Verdana, sans-serif;
    background-color: silver;
    color: darkblue;
    font-size: 1.1em;
}
h1 {
    background-color: red;
    font-variant: small-caps;
}
a {
    color: blue;
}
a:hover {
    color: rebeccapurple;
    border-color: pink;
    border-style: solid;
    border-width: 9px;
}
.stippeltjesrand {
    border-style: dashed;
    border-width: 1px;
}
