body{
    font-family: Verdana, sans-serif;
    width: 95%;
    margin: 0 auto;
}
nav{
    padding: 5px 5px;
    background-color: #333333;
    color: #222222;
}
nav a{
    text-decoration: none;
    color: #33ff33;
}
section > header{
    background-image: url(../assets/header.jpg);
    background-size: 105%;
    height: 125px;
}
section > header > h1{
    font-size: 60px;
    color: #eeeeee;
    margin: 0;
    padding-left: 10px;
}

article > header > h1{
    text-decoration: underline;
    color: #444444;
    font-size: 40px;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 20px;
}


section > article{
    background-color: #cccccc;
    margin: 5px;
    padding: 5px;
}
